
:root {
    --clock-background: transparent;
    --clock-color: #191919;
    --clock-font-size: 14px;
}

.dark-side {
    --clock-background: transparent;
    --clock-color: #dbdfe7;
}

.clock {
    font-size: var(--clock-font-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: var(--clock-background);
    color: var(--clock-color);
    
    &.show-column {
        align-items: flex-end !important;
        flex-direction: column;
        gap: 0;
    }
    
    .clock-time {
        display: inline-flex;
        flex-flow: row nowrap;
        gap: 4px;
        line-height: 1;
    }
    
    .clock-time, .clock-date {
        white-space: nowrap;
    }

    .clock-hour, .clock-minutes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--clock-font-size);
    } 
    
    .clock-divider {
        width: calc(var(--clock-font-size) / 6.4);
    }
    
    .clock-ampm {
        font-size: calc(var(--clock-font-size) / 2);
        display: flex;
        align-items: flex-end;
        padding-bottom: 6px;
    }
    
    &.digital {
        font-family: digital, monospace;
    }    
}

